<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} | Вопросы и ответы</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">My Q&A</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if request.path == url_for('.index') %} class="active"{% endif %}><a href="{{ url_for('.index') }}" id="index">Вопросы</a></li>
            <li{% if request.path == url_for('.tags') %} class="active"{% endif %}><a href="{{ url_for('.tags') }}" id="index">Тэги</a></li>
        </ul>
        <div class="navbar-collapse collapse navbar-form navbar-right">
          {% if current_user.is_authenticated() %}
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">{{ current_user.username }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('.new_question') }}">Задать вопрос</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('.logout') }}">Выйти</a></li>
              </ul>
            </div>
          {% else %}
            <a class="btn btn-primary" href="{{ url_for('.login') }}">Вход/Регистрация</a>
          {% endif %}
        </div>
        </div><!--/.nav-collapse -->
      </div>

      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert{{ ' alert-%s' % category if category != 'message' else '' }}">
            <button type=button class=close data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block tabs %}{% endblock %}
      {% block content %}{% endblock %}

      <div class="panel-footer">&copy; 2013-2014 Вопросы и ответы</div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>