{% extends "base.html" %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h3>{{ question.title }}</h3>
        <p><b>{{ question.username }}, {{ question.timestamp }}</b></p>
        <p>{{ question.body }}</p>
        <p>
            <strong>Тэги:</strong> {% for tag in question.tags %} <a href="/tag/{{ tag }}">{{ tag }}</a> {% if not loop.last %} | {% endif %}{% endfor %}
        </p>
        <hr width="100%">
        {% for comment in question.comments %}
            <h5>{{ comment.username }}</h5>
            <p>{{ comment.body }}</p>
            <hr width="30%" align="left">
        {% endfor %}
        <p>
            <form method="post" action="/question/{{ question.pk }}" role="form">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="username">{{ form.username.label }}</label>
                    {{ form.username(class="form-control", id="username", placeholder="Имя пользователя")}}
                </div>
                <div class="form-group">
                    <label for="body">{{ form.body.label }}</label>
                    {{ form.body(class="form-control", id="username", placeholder="Ваш ответ")}}
                </div>
                <button type="submit" class="btn btn-default">Ответить</button><br /><br />
            </form>
        </p>

    </div>
{% endblock %}